In [2]:
import pandas as pd
from imblearn.over_sampling import SMOTE

In [29]:
dados = pd.read_csv('train_titanic.csv')
dados.head()
dados.drop(['PassengerId','Name','Ticket','Cabin'],axis = 1, inplace = True)
dados.Age.fillna(dados.Age.mean(), inplace= True)
dados.dropna(axis = 0,inplace=True)
transformando = dados['Embarked']
transformando_1 = pd.get_dummies(transformando)
dados_concat = pd.concat([dados,transformando_1], axis =1)
dados_concat.drop('Embarked',axis =1, inplace=True)

In [30]:
dados_concat.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  C  Q  S
0         0       3    male  22.0      1      0   7.2500  0  0  1
1         1       1  female  38.0      1      0  71.2833  1  0  0
2         1       3  female  26.0      0      0   7.9250  0  0  1
3         1       1  female  35.0      1      0  53.1000  0  0  1
4         0       3    male  35.0      0      0   8.0500  0  0  1

In [31]:
dados_concat.Sex.replace('male',0, inplace=True)
dados_concat.Sex.replace('female',1,inplace=True)
dados_concat.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
C             uint8
Q             uint8
S             uint8
dtype: object

In [32]:
x = dados_concat.drop('Sex',axis =1)
y = dados_concat.Sex

In [36]:
x.shape, y.value_counts()

((889, 9),
 0    577
 1    312
 Name: Sex, dtype: int64)

In [33]:
smote = SMOTE(sampling_strategy='minority')
x_novo, y_novo = smote.fit_resample(x,y)

In [37]:
x_novo.shape, y_novo.value_counts()

((1154, 9),
 0    577
 1    577
 Name: Sex, dtype: int64)

In [39]:
dados_novos = pd.concat([x_novo,y_novo],axis=1)

In [41]:
dados_novos.to_csv('titanic_NOVO.csv')